<%- include('partials/header') %>

    <div class="logo-container">
        <% if (data.logoType==='image' && data.logoUrl) { %>
            <img src="<%= data.logoUrl %>" alt="Logo" class="logo-img" style="max-width: 150px; height: auto;">
            <% } else { %>
                <div class="logo-placeholder">NDB212</div>
                <% } %>
    </div>

    <h1 class="main-title">
        <%= data.mainTitle %>
    </h1>

    <h2 class="sub-title">
        <%= data.subTitle %>
    </h2>

    <div class="separator"></div>

    <p class="description">
        <%= data.description %>
    </p>

    <div class="separator"></div>

    <% if (data.ctaVisible) { %>
        <a href="<%= data.ctaLink %>" class="cta-button">
            <svg class="whatsapp-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                    d="M12.031 6.172c-3.181 0-5.767 2.586-5.768 5.766-.001 1.298.38 2.27 1.019 3.287l-.711 2.598 2.654-.698c1.09.597 2.072.854 3.203.854h.003c3.182 0 5.768-2.586 5.768-5.766 0-1.545-.601-2.99-1.693-4.082-1.092-1.09-2.536-1.691-4.475-1.959zM12 2C6.486 2 2 6.486 2 12c0 1.838.508 3.559 1.391 5.044L2.001 22l5.122-1.339C8.595 21.465 10.25 22 12 22c5.514 0 10-4.486 10-10S17.514 2 12 2zm.006 14.5c-2.484 0-4.506-2.022-4.506-4.506 0-2.484 2.022-4.506 4.506-4.506s4.506 2.022 4.506 4.506c0 2.484-2.022 4.506-4.506 4.506z" />
                <path
                    d="M17.507 14.307l-.941-.483c-.261-.134-.593-.058-.727.167l-.417.702c-.118.198-.363.265-.561.167-1.428-.707-2.333-1.674-2.986-3.085-.094-.203-.021-.444.18-.549l.711-.37c.23-.119.324-.436.194-.657l-.464-.784c-.139-.235-.441-.309-.672-.165l-.794.496c-.279.174-.43.513-.332.853.491 1.706 2.083 3.639 4.093 4.414.346.133.714.032.932-.212l.617-.692c.176-.197.169-.536-.053-.651z" />
            </svg>
            <%= data.ctaText %>
        </a>
        <% } %>

            <%- include('partials/footer') %>