<%- include('partials/header') %>

    <div class="logo-container">
        <% if (data.logoType==='image' && data.logoUrl) { %>
            <img src="<%= data.logoUrl %>" alt="Logo" class="logo-img" style="max-width: 150px; height: auto;">
            <% } else { %>
                <div class="logo-placeholder">NDB212</div>
                <% } %>
    </div>

    <h1 class="main-title">
        <%= data.mainTitle %>
    </h1>

    <h2 class="sub-title">
        <%= data.subTitle %>
    </h2>

    <div class="separator"></div>

    <p class="description">
        <%= data.description %>
    </p>

    <div class="separator"></div>

    <% if (data.ctaVisible) { %>
        <a href="<%= data.ctaLink %>" class="cta-button">
            <svg class="whatsapp-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path
                    d="M12.04 2c-5.46 0-9.91 4.45-9.91 9.91 0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.13 1.25 4.84 1.25 5.46 0 9.91-4.45 9.91-9.91 0-2.65-1.03-5.14-2.9-7.01C17.18 3.03 14.69 2 12.04 2zM12.05 20.21c-1.5 0-2.98-.39-4.28-1.15l-.3-.18-3.11.82.83-3.03-.2-.31c-.82-1.27-1.27-2.77-1.27-4.31 0-4.63 3.77-8.4 8.4-8.4 2.24 0 4.35.87 5.94 2.46 1.59 1.59 2.46 3.7 2.46 5.94 0 4.63-3.77 8.39-8.39 8.39l-.08-.03zM16.39 14.3c-.23-.11-1.36-.67-1.57-.75-.21-.08-.36-.11-.51.11-.15.23-.59.75-.72.9-.13.15-.26.17-.49.06-.23-.11-.97-.36-1.85-1.14-.68-.6-1.14-1.35-1.27-1.58-.13-.23-.01-.35.1-.46.1-.1.23-.26.35-.39.11-.13.15-.23.23-.38.08-.15.04-.28-.02-.4-.06-.11-.51-1.23-.7-1.69-.19-.45-.38-.38-.52-.39-.13 0-.28 0-.43 0-.15 0-.39.06-.59.28-.2.22-.77.75-.77 1.83 0 1.08.79 2.12.9 2.24.11.12 1.55 2.37 3.75 3.32.52.23.93.36 1.25.46.52.17 1 .14 1.38.09.42-.06 1.36-.56 1.55-1.1.19-.54.19-1 .13-1.1-.06-.11-.21-.17-.44-.28z" />
            </svg>
            <%= data.ctaText %>
        </a>
        <% } %>

            <%- include('partials/footer') %>